* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./images/greek-vase.png");
    display: flex;
    align-items: center;
    flex-direction: column;
}

:root {
    --main_blue_color: #0078E7;

    /* container  */
    --main_container_width:1623px;
}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}  

a {
    text-decoration: none;
}

.mainnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: var(--main_container_width);
    height: 52px;
    margin-top: 38px;
}

.mainnav #logo {
    height: 45px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: var(--main_blue_color);

    cursor: pointer;
}

.mainnav .navlink_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px 13px;

    width: 687px;
    height: 51px;

}


.mainnav .navlink_container .navlink {
    height: 38px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
}


.mainnav .main_contact,
.main_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;

    width: 197px;
    height: 52px;
    left: 1426px;

    background: #0078E7;
    color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.mainnav .main_contact,.main_btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;

    color: #FFFFFF;
}



/* main hero section */
.main_hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--main_container_width);
    height: 612px;
    margin-top: 80px;
}

.main_hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 571px;
    height: 530px;
}

.main_hero .left h1 {
    width: 571px;
    height: 300px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 111px;

    color: #000000;
}

.main_hero .left h1 span {
    color: var(--main_blue_color);
}

.main_hero .left p {
    width: 384px;
    height: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 0.29em;
    text-transform: uppercase;
    margin: 32px 0px;
    color: #919191;
}

.main_hero .left .main_btn {

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;
    width: 238px;
    height: 70px;

    background: #0078E7;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    margin: 32px 0px;
}

.main_hero .left .main_btn .icon {
    width: 25px;
    height: 26px;
    /* Inside auto layout */
    margin: 0px 15px;
}


.main_hero .left .main_btn .title {
    width: 121px;
    height: 38px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height */


    color: #FFFFFF;

    margin: 0px 15px;
}

.main_hero .right img{
    width: 727px;
    height: 612px;
}




/* profile bottom  */

section.profile_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1920px;
    height: 615px;
    margin-top: 147px;
    position: relative;
}

section.profile_bottom .profile_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 211px 105px;

    width: 970px;
    height: 615px;
    background: #F4F4F4;
    margin: 0px 4px;
}

section.profile_bottom .profile_left .profile_container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 679px;
    height: 180px;
    margin: 10px 0px;
}

section.profile_bottom .profile_left .profile_container .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 8px;

    position: relative;
    width: 295px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;

    margin: 0px 76px;
}

section.profile_bottom .profile_left .profile_container .profile img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2 + 0.5px);
    top: -50px;
    border-radius: 50%;

}

section.profile_bottom .profile_left .profile_container .profile .title {
    width: 195px;
    height: 21px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;

    color: #0078E7;
    margin: 27px 0px;
    margin-top: 0;
}

section.profile_bottom .profile_left .profile_container .profile .desc {
    word-wrap: break-word;
    width: 295px;
    height: 60px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
section.profile_bottom .img-container{
    position: absolute;
    left: 45%;
}

section.profile_bottom .profile_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 110px 164px;

    width: 952px;
    height: 615px;
    background: #0078E7;

    margin: 0px 4px;
}

section.profile_bottom .profile_right p {
    width: 620px;
    height: 234px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;

    color: #FFFFFF;
    margin: 0px 10px;
}